body {
  background: #bab9e9;
}

.dino {
  position: absolute;
  bottom: 0;
  background-image: url(dino1.gif);
  width: 129px;
  height: 80px;
}

.cactus {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
  background-image: url(cactus.png);
}

.game-over {
  text-align: center;
  color: rgb(14, 12, 12);
  margin: 50px 0;
  font-family: arial;
}

@keyframes slideright {
  from {
      background-position: 70000%;
  }
  to {
      background-position: 0%;
  }
}

.background {
  position: absolute;
  bottom: 0px;
  background-image: url('background.png');
  background-repeat: repeat-x;
  animation: slideright 600s infinite linear;
  -webkit-animation: slideright 600s infinite linear;
  display: flex;
  justify-content: center;  
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(-45deg,#F17C58, #E94584,   #27DBB1,#FFDC18, #FF3706, #24AADB);
  background-size: 400% 400%;
  animation: move-bg 4s linear infinite;
}

@keyframes move-bg {
  0% {
      background-position: 0% 50%;
  }

  50%{
      background-position: 100% 50%;
  }

  100%{
      background-position: 0% 50%;
  }
}